@font-face {
    font-family: "Bodega Sans";
    src: url("../fonts/BodegaSans_Black.ttf")
}

@font-face {
    font-family: "flexslider-icon";
    src: url("../fonts/flexslider-icon.ttf")
}

/* ************* VARIABLE ************* */

$colorWhite: #fff;
$colorOrange: #ff9d00;
$colorDarkGrey: #333333;
$colorGrey: #3f3f3f;
/* ************* MIXIN ************* */

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexM {
    display: flex;
    flex-direction: column;
}

/* ************* CODE ************* */

body {
    background: url(../img/bg_body.svg) #444;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.conteneur {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(120deg, $colorWhite 50%, $colorGrey 50%)
}

header nav {
    @include flexM();
    width: 50%;
    font-size: 2.5rem;
    font-family: "Bodega Sans", sans-serif;
    line-height: 2em;
    text-align: center;
}

header nav a {
    color: $colorWhite;
    text-decoration: none;
}

header img {
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    color: $colorWhite;
    font-family: "Bodega Sans", sans-serif;
    font-weight: inherit;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

span {
    color: $colorOrange;
}

h2 {
    border: solid 3px $colorGrey;
    border-bottom: none;
    border-right: none;
    font-size: 3rem;
    padding: 10px;
}

h3 {
    color: $colorOrange;
    border-bottom: 1px solid $colorOrange;
    font-size: 2.5rem;
}

p {
    font-size: 2.5rem;
    color: grey;
}

.motos {
    @include flexRow();
    justify-content: space-between;
}

article {
    background: $colorWhite;
    padding: 15px;
    width: 20%;
    text-align: center;
}

article>img {
    width: 95%;
}

.button {
    display: block;
    background: $colorOrange;
    text-decoration: none;
    line-height: 3em;
    color: $colorWhite;
}

.nousconaitre:not(h2) {
    display: flex;
}

.nousconaitre>div {
    width: 50%;
    color: $colorWhite;
}

.nousconaitre>div>div,
i {
    color: $colorWhite;
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-size: 2.5rem;
}

video {
    width: 100%;
    margin: 20px;
}

footer {
    text-align: center;
    font-size: 2.5rem;
    margin: 30px;
}

footer nav a {
    color: $colorWhite;
}



@media screen and (max-width: 960px) {
    header {
        @include flexM();
        background-image: linear-gradient(153deg, $colorWhite 50%, $colorGrey 50%)
    }
    header>nav {
        width: 100%;
        text-align: right;
    }
    .motos {
        flex-wrap: wrap;
    }
    article {
        width: 45%;
        margin: 10px auto;
    }
    .nousconaitre {
        @include flexM();
    }
    .nousconaitre>div {
        width: 100%;
        text-align: center;
    }
    .nousconaitre>div>div {
        @include flexM();
        width: 100%;
    }
}

@media screen and (max-width: 580px) {
    header {
        @include flexM();
        background-image: linear-gradient(128deg, $colorWhite 50%, $colorGrey 50%)
    }
    header img{
        width: 70%;
        margin: 0;
    }
    header nav {
        font-size: 2rem;
    }
    .motos {
        @include flexM();
    }
    article {
        width: 90%;
        margin: 10px auto;
    }
}