main>header{
    background: url(img/background.jpg);
    padding: 200px;
    text-align: center;
    display: block;
}
main>header>h1,
main>header>h3 {
    color: #fff;
}
article{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         margin: 40px auto;
}
article>h2{
    border-top: 2px dashed #213e4e;
    border-left: 2px dashed #213e4e;
    border-right: 2px dashed #213e4e;
    padding: 30px;
    width: 100%;

}
article h3{
    color: #fb8b9b;
    line-height: 2em;
}
article>section{
    width: 33%;
}

@media screen and (max-width: 960px) {
    article section{
        width: 100%
    }
}