body{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* ----------------------- *\
         HEADER
\* ----------------------- */
/* ------------ *\ NAVIGATION BAR/* ------------ */ 
#logo{
    height: 57px;
    width: 261px;
    margin: 20px 150px;
}
nav{
    padding: 30px 20px 20px 20px;
    margin-right: 150px;
}
.menu, a{
    list-style-type: none;
    text-decoration: none;
    color: grey;
    display: inline;
    padding-right: 5px;
    font-size: 20px;
}
.menu a:hover{
    color: #3491B2;
    border-top: 3px solid rgba(52, 145, 178, 0.5);
    font-weight: bold;
    padding-top: 40px;
}
#entete{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(209, 206, 206);
    position: fixed;
    z-index: 999;
}
#menuhamburger {
    display: none; 
}
/* ------------ *\ SLIDER /* ------------ */ 
#accueil{
    padding-top: 4px;
}
#slider{
    position: relative;     
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
}
.imge1{
    position: relative;
    width: 100%;
    z-index: 2;
}
.imge2{
    position: absolute;
    z-index: 0;
    top: 0px;
    width: 100%;
}
#texte{
    position: absolute;
    z-index: 3;
    top: 150px;
    left: 150px; 
    width: 40%;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
h1 span{
    color: #45aed6;
}
#texte p{
    font-size: 15px;
    font-weight: normal;
}
.buton{
    border-radius: 3px;
    background: #45aed6;
    width: 120px;
    height: 30px;
    text-align: center;
    border-bottom: 3px solid #2a95be;
    padding-top: 5px;
    font-weight: normal;
}
.buton:hover{
    background: #318daf;
}
.buton a{
    color: white;
    font-size: 16px;
}
.imge1 {
    animation: activeslide infinite alternate 120s;
    border-bottom: 3px solid grey;
}
@keyframes activeslide {
    0% {
        margin-right: -1000%;
    }
    30% {
        margin-left: -500%;
    }
    40% {
        margin-left: -250%;
    }
    50%{
        margin-left: 0%;
    }    
    60% {
        margin-left: 0%;

    }
    70% {
        margin-right: -250%;
    }
    80% {
        margin-right: -500%;
    }
    100%{
        margin-right: -1000%;
    }
}
.imge2 {
    border-bottom: 3px solid #45aed6;

}
.fleche{ 
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
    top: 50%;
    color: white;
}
#flechedroite{
    background-color: rgba(37, 37, 37, 0.5);
    border-radius: 100%;
    padding: 30px 10px 30px 50px;
    margin-left: -40px;
}
 #flechegauche{
    background-color: rgba(37, 37, 37, 0.5);
    border-radius: 100%;
    padding: 30px 50px 30px 10px;
    margin-right: -40px;
 }
/* ----------------------- *\
        BODY
\* ----------------------- */
/* ------------ *\ ARTICLES STYLE \* ------------ */ 
article{
    padding-top: 25px;
    padding-bottom: 20px;
}
.titre{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
h2{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
}
.divptlig{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    border-bottom: 1px solid #b8b5b5;
    padding-bottom: 10px;
}
.ss-titre{
    color: gray;
    width: 600px;
    margin-bottom: 0;
    text-align: center;
    line-height: 2;
}
.point{
    display: block;
    border: 4px solid white;
    border-radius: 100%;
    padding: 6px;
    background-color: #45aed6;
    width: 0px;
    height: 0px;
    margin-left: 40%;
    margin-bottom: -25px;
}
/* ------------ *\ SERVICES /* ------------ */ 
#service{
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imgservice{
    margin-bottom: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 0px;
}
.serviceslist{
   width: 35%;
    margin-top: 10%;
    margin-right: 15%;
}   
.texteservices span{
    font-weight: bolder;
}
.pictosTextes{
    display: flex;
    flex-direction: row;
    line-height: 1.7;
}
.texteservices span{
    font-size: 18px;
}
.pictosTextes .fas{
    font-size: 25px;
    color: #45aed6;
    border: 1px solid #dbdbdb;
    border-radius: 80%;
    padding: 20px;
    margin: 20px;
    height: 25px;
    width: 25px;
}
.pointpicto{
    border: 6px solid white;
    border-radius: 50%;
    margin-top: -25px;
    margin-left: 34px;
    padding: 6px;
    background-color: #45aed6;
}
/* ------------ *\ PROJECTS /* ------------ */ 
#portfolio{
    background-color: #f5f5f5;
    width: 100%;
}
.menupf{ 
    display: flex;
}
#menupfolio{
    margin-left: auto;
    margin-right: auto;
    width: 400px;  
    border-radius: 50%;
}
.menupfit{
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #e5e5e5;
    padding-top: 10px;
    margin: 40px 0;
}
.menupfit:nth-child(1){
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}
.menupfit:nth-child(4){
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.menupfit a{
    color: gray;
    font-size: 18px;
}
.triangle{
    visibility: hidden;
}
.menupfit:hover{
    width: 100px;
    height: 30px;
    background-color: #61bbdf;
    border-bottom: 4px solid #318daf; 
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column; 
}
.menupfit:hover a{
    color: white;
}
.menupfit:hover .triangle{
    visibility: visible;
    font-size: 25px;
    color: #318daf;
    margin: 0%;
}
#items{    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width:  1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.item{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-end;
    margin:  16px 20px;
}
figure{
    width: auto;
    height: auto;
    margin: 0;
}
.item img{
    width: 300px;
    height: auto;
}
h3, h3 p{
    margin-bottom: 0;
}
.legende{
    position: absolute;
    z-index: 99;
    width: 285px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    line-height: 1;
    padding-left: 15px;
}
.legende{
    visibility: hidden;
}
.item:hover .legende{
    visibility: visible;
}
div .fa-eye{
    display: block;
    float: right;
    height: 25px;
    width: 27px;
    padding-top: 7px;
    padding-left: 9px;
    background-color: rgb(78, 177, 213);
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: -20px;
}    
/* ------------ *\ FOOTER / CONTACT /* ------------ */ 
footer{
    padding-top: 25px;
}
.carte{
    width: 100%;
    height: 550px;
    position: absolute;
    z-index: 1;
    background-color: rgb(135, 204, 228);
}
iframe{
    width: 100%;
    height: auto;
}
footer iframe {
	opacity: 0.6;
    height: 550px;
    border-style: none;

}
form{
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255,0.8);
    margin-top: 5%;
    margin-left: 68%;
    width: 300px;
    height: 450px;
    color: #272727;
}
.formtext, .listforme{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
input{
    margin-bottom: 10px;
    height: 23px;
}
input, textarea{
    font-family: Roboto, serif;
    font-size: 13px;
    color: #9b9b9b;
    border: 1px solid #d3d4d5;
    padding-left: 10px;
}
textarea{
    padding-top: 7px;
    height: 140px;
}
fieldset{
    border: none;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    padding: 0;
    margin: 20px 20px 0 20px;
}
.soulign{
    text-decoration: underline;
}
.envoyer{
    color: white;
    border-radius: 3px;
    background: #45aed6;
    margin-top: 15px;
    width: 120px;
    height: 30px;
    text-align: center;
    border-bottom: 3px solid #2a95be;
}
.envoyer:hover{
    background: #0096C1;
}
/* -------------------------------------------------------- *\
        RESPONSIVE 
\* -------------------------------------------------------- */
@media all and (max-width: 1200px){
    #logo{
        margin: 20px 50px;
    }
    nav{
        padding: 30px 20px 20px 20px;
        margin-right: 50px;
    }
}

@media all and (max-width: 800px){
    nav{
       display: none;
    }
    #logo {
       margin: 30px 40px;
    }
    #menuhamburger {
       display: block;
       width: 100px;
       height: 100px;
       cursor: pointer;
       margin: 10px;
    }
    #hamburger{
       width: 48px;
       height: 4px;
       background: #3491B2;
       margin: 50px;
    }
    #hamburger::before, #hamburger::after {
       content: "";
       display: block;
       position: absolute;
       width: 48px;
       height: 4px;
       background: #3491B2;
    } 
    #hamburger::before {
       margin-top: -16px;
    }
    #hamburger::after {
       margin-top: 16px;
    }
    .slide{
       display: none; 
    }
    #texte{
       position: static;
       padding-top: 15px;
       color: rgba(3, 36, 48, 0.952);
       width: 80%;
       text-align: center;
       margin-left: auto;
       margin-right: auto;
    }
    .buton{
       margin-left: auto;
       margin-right: auto;
    }
    .fleche{
       display: none;
    }
    .ss-titre{
       width:80%;
    }
    #service{
       flex-direction: column;
    }
    .imgservice{
       margin-bottom: 0px;
    }
    .serviceslist{
        margin-left: 0;
        margin-right: 0;
        padding-top: 10px;
        width: 95%;
    } 
    form{
       margin-left: 0%;
       width: 90%;  
    }
    .legende{
       visibility: visible;
    }
    form{
        position: initial;
        margin: 0%;
        width: 100%;
        color:#64686d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ececec;
    }
    .carte{
        position: initial;
    }
}
@media all and (max-width: 420px){
    #imgserv{
        width: 300px;
        padding-left: 40px;
    }
    #entete{
        position: static;
        width: 100%;
    }
    #entete img{
        width: 160px; 
        height: auto;
    }
    #logo {
        margin: 20px 25px;
    }
    #menuhamburger {
        width: 100px;
        height: 50px;
        margin: 10px;
    }
    #hamburger{
        width: 24px;
        height: 2px;
        margin:30px;
    }
    #hamburger::before, #hamburger::after {      
        width: 24px;
        height: 2px;
    } 
    .texteservices{
        width: 230px;
    }
    .menupf{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 100px;          
    }
    .menupfit{
        margin-bottom: 10px;
        margin-top: 5px;
    }
    #slider{
        margin: 0;
    }
    .item img{
        width: 280px;
        height: auto;
    }
    .legende{
        width: 265px;
    }
    h3, h3 p{
        margin: 0;
    }
}